<main>
    <section id="first-part">
        <div class="hello-text-part">
            <h1>Семейный генеалогический архив</h1>
            <p>Самое лучшее решение для сохранения и передачи семейной истории на долгие годы. Создай свое генеалогическое дерево, собирай новые факты о своих родственниках и делись всей информацией с потомками</p>
        </div>
        <div class="buttons-part">
            <button class="main-button">Создать свой архив</button>
            <button class="sub-button">Подробнее</button>
        </div>
        <img src="Tree.webp">
    </section>
    <section id="possibilities-part">
        <h1>Возможности нашего сервиса</h1>
        <article class="possibilities">
            <div class="possibilities-line">
                <p>От</p>
                <div class="line"></div>
                <p>И многое другое...</p>
            </div>
            <div class="left poss-card">
                <img src="icons/IcoTree.png">
                <div class="poss-text">
                    <h2>Семейное дерево</h2>
                    <p>Вы сможете воссоздать ваше генеалогическое дерево, указав всех родственников</p>
                </div>
            </div>
            <div class="right poss-card">
                <img src="icons/photo.png">
                <div class="poss-text">
                    <h2>Фотоархив</h2>
                    <p>Добавляйте фотографии каждого члена семьи, чтобы просмотреть всё в одном месте</p>
                </div>
            </div>
            <div class="left poss-card">
                <img src="icons/document.png">
                <div class="poss-text">
                    <h2>Документы</h2>
                    <p>Вы можете добавить важные документы к каждому члену вашей семьи</p>
                </div>
            </div>
            <div class="right poss-card">
                <img src="icons/clock.png">
                <div class="poss-text">
                    <h2>Хронология жизни</h2>
                    <p>Создавайте полную историю жизни по главам. Пусть повествование будет в виде книги</p>
                </div>
            </div>
            <div class="left poss-card">
                <img src="icons/eye.png">
                <div class="poss-text">
                    <h2>Совместный просмотр</h2>
                    <p>Добавляйте членов семьи к вашему архиву, чтобы они тоже смогли просмотреть свой род в любое время</p>
                </div>
            </div>
            <div class="right poss-card">
                <img src="icons/lock.png">
                <div class="poss-text">
                    <h2>Приватность</h2>
                    <p>Ваши данные - неприкосновенное достояние. Никто лишний не сможет получить ваши файлы, фото и тд.</p>
                </div>
            </div>
        </article>
    </section>
    <section id="faq-part">
        <h1>Часто задаваемые вопросы</h1>
        <div>
            <details>
                <summary>
                    Существуют ли ограничения в архиве?
                    <div>
                        ?
                    </div>
                </summary>
                <p>Да, ограничения имеются. В зависимости от уровня подписки, будут накладываться огрничения на количество людей в архиве, на количество глав в истории каждого человека, на объем документов и тд. Со всеми ограничениями можно ознакомиться ТУТ</p>
            </details>
            <details>
                <summary>
                    Файлы каких форматов можно добавить к архиву?
                    <div>
                        ?
                    </div>
                </summary>
                <p>Для изображений можно использовать только файлы формата .png и .jpg. Для текстовых файлов(документов) можно использовать только файлы формата .pdf</p>
            </details>
            <details>
                <summary>
                    Кто может редактировать архивы?
                    <div>
                        ?
                    </div>
                </summary>
                <p>Архив может редактировать только тот, кто создал его. Гости, добавленные к архиву, смогут только посмотреть его. Также предусмотрена функция передачи прав редактора.</p>
            </details>
            
        </div>
    </section>
    <app-footer></app-footer>
</main>
